.app {
    background-image: url("../assets/background_image.jpg");
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
